:root {
	--presicav: presicav, sans-serif;
	--nimbus: nimbus-sans-extended, sans-serif;
	--farm-new: farm-new, sans-serif;
	--tussilago: tussilago, sans-serif;

	/* colors */
	--primary-dark: #353d8f;
	--primary-light: #575ea6;
	--secondary-dark: #0d8740;
	--secondary-light: #36eb80;
	/* --secondary-light: #A4EBC2; */
	--highlight: #fef38b;
	--neutral-light: #fffef5;
	--neutral-dark: #333333;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/* 1 rem will equal 10px */
	font-size: 62.5%;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: nimbus-sans-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--neutral-light);
	font-size: 1.5rem;
	line-height: 1.75;
	color: #333;
}
p.headline-body {
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
	font-family: var(--presicav);
}
h1 {
	font-family: var(--tussilago);
	font-size: 3.8rem;
	-webkit-text-stroke: 2px var(--primary-dark);
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	text-shadow: 4px 3px 0px #bcc3ffb5;
	line-height: 1;
	margin-bottom: 0.8rem;
}

h4,
h5 {
	font-family: var(--tussilago);
	font-size: 2.4rem;
	color: var(--primary-dark);
	margin: -6px 0 -6px 0;
	text-transform: uppercase;
}

h4 {
	font-size: 3.2rem;
}

/* Helper Classes */
.mt-6 {
	margin-top: 6px;
}
.mb-6 {
	margin-bottom: 6px;
}
.mt-12 {
	margin-top: 12px;
}
.mb-12 {
	margin-bottom: 12px;
}
.mt-24 {
	margin-top: 24px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mt-36 {
	margin-top: 36px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mt-48 {
	margin-top: 48px;
}

.mb-48 {
	margin-bottom: 48px;
}

.mt-64 {
	margin-top: 64px;
}
.mb-64 {
	margin-bottom: 64px;
}

.sml-mt-120 {
	margin-top: 120px;
}

.mt-120 {
	margin-top: 120px;
}
.mb-120 {
	margin-bottom: 120px;
}

.tt-uc {
	text-transform: uppercase;
}

.mr-24 {
	margin-right: 24px;
}

.primary-dark {
	color: var(--primary-dark);
}
.primary-light {
	color: var(--primary-light);
}
img {
	max-width: 100%;
	border-radius: 6px;
}

section.section-skills div.wrapper {
	height: 100%;
}

.max-width {
	max-width: 49rem;
}

.grid {
	display: grid;
	grid-template-columns: 2.4rem 1fr 1fr 2.4rem;
	/* margin: 0 6.4rem; */
	grid-column-gap: 1.4rem;
}

.primary-btn,
a.secondary-btn {
	text-transform: uppercase;
	font-family: var(--presicav);
	max-height: 3rem;
	display: inline-block;
	text-decoration: none;
	color: var(--secondary-dark);
	padding-bottom: 3px;
	border-bottom: 2px solid var(--secondary-dark);
	transition: all 0.2s ease-in-out;
}

a.secondary-btn {
	font-size: 1.4rem;
	color: #fff;
	max-height: 2.5rem;
}

.primary-btn:hover,
a.secondary-btn:hover {
	padding-bottom: 0px;
	color: var(--secondary-light);
	border-bottom: 2px solid var(--secondary-light);
	transform: scale(1.02);
}

span.down-arrow {
	position: relative;
	top: 16px;
	padding: 0 0 0 6px;
}

span.down-arrow-center {
	padding-top: 12px;
}

/*  Animations  */
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*  Intro Component */

.intro {
	/* height: calc(90vh - 7.5rem); */
	/* margin-bottom: -2rem; */
	height: 90vh;
}

.intro-left-container {
	grid-column: 2 / 4;
	align-self: center;
	/* grid-row: 2/3; */
}

/* .intro-right-container {
	grid-column: 2 / 4;
	grid-row: 3/4;
	position: relative;
	align-self: center;
	display: flex;
} */

.intro-right-container {
	display: none;
}

.circle {
	position: absolute;
	left: -36px;
	top: -18px;
	animation: spin 50s linear infinite;
	z-index: 0;
}

.big-circle {
	position: absolute;
	right: -36px;
	bottom: -36px;
	animation: spin 50s linear infinite;
	z-index: 0;
}

.rectangle {
	position: relative;
	left: 162px;
	top: 136px;
	/* transform: rotateZ(270deg); */
	z-index: 3;
}

.intro-top-poly {
	position: relative;
	left: 162px;
	top: -154px;
	z-index: 5;
}

.intro-btm-poly {
	position: relative;
	left: -34px;
	bottom: -124px;
	z-index: 5;
}

.intro-up-arrow {
	position: absolute;
	bottom: 0;
	left: -102px;
	z-index: 5;
}

img.intro-up-arrow:nth-child(2) {
	left: -72px;
}

img.intro-up-arrow:nth-child(3) {
	left: -42px;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.top-img {
	position: absolute;
	z-index: 5;
	transition: all 0.5s ease-in-out;
}
.top-img:hover {
	opacity: 0;
}
.mid-img {
	position: absolute;
	z-index: 2;
	transform: rotate(-10deg);
	transition: transform 0.5s ease-in-out;
}
.btm-img {
	position: absolute;
	z-index: 1;
	transform: rotate(10deg);
	transition: transform 0.5s ease-in-out;
}

.intro-img-bkg {
	background-color: var(--highlight);
	border-radius: 0.6rem;
	height: 45rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

/* Project Component */

li.project-item {
	grid-column: 2/4;
	/* padding: 0 0.8rem; */
	/* display: flex; */
	/* flex-wrap: wrap; */
}

ul.project-tech-tags {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

li.project-tech-tags-item {
	margin-right: 0.8rem;
	margin-bottom: 0.8rem;
	font-family: var(--presicav);
	font-size: 1rem;
	line-height: 1.4;
	color: var(--primary-dark);
	background-color: #fff8b6;
	/* background-color: var(--highlight); */
	padding: 4px 6px;
	/* border: 1px solid var(--primary-light); */
	border-radius: 3px;
	text-transform: uppercase;
}

/* li.project-tech-tags-item::before {
	content: '\26A1';
	content: '';
	background-color: #fff8b6;
	width: 100%;
	height: 10px;
	font-weight: bold;
	display: inline-block;
	width: 0.8rem;
	margin-right: 6px;
} */

.project-item h4 {
	line-height: 1.2;
	letter-spacing: -0.16rem;
	margin: 1.4rem 0;
}
.project-item p {
	margin: 0 0 12px 0;
	line-height: 1.5;
}

.project-item img {
	margin: 12px 0;
}

/* Skills Component */

.section-skills {
	/* height: 60vh; */
	background-color: var(--primary-dark);
	/* width: 100vw; */
	position: relative;
	margin-bottom: 12rem;
	overflow: hidden;
}

.skills-text-heading {
	grid-column: 1/-1;
	align-self: center;
	background-color: var(--neutral-light);
	width: 100%;
	justify-self: center;

	margin: 64px 0 36px 0;

	padding: 24px 0 24px 3.8rem;
}

.inner-text {
	text-align: left;
}

.inner-text h1 {
	display: inline-block;
}

.right-arrow {
	margin-left: 0.8rem;
}

.skills-circle-right,
.skills-circle-left {
	position: absolute;
	animation: spin 50s linear infinite;
}

.skills-circle-left {
	top: 31px;
	left: -15px;
}

.skills-rect-left {
	position: absolute;
	bottom: -10%;
	left: -100px;
}

.skills-polygon-right {
	position: absolute;
	top: 24px;
	right: -24%;
}

.skills-circle-right {
	bottom: -10%;
	right: -154px;
}

.skills-text-list {
	grid-column: 2/4;
	margin-bottom: 6.4rem;
	/* grid-row: 1/2; */
	/* align-self: center; */
}

.section-skills ul {
	text-transform: uppercase;
	color: var(--neutral-light);
	list-style-type: none;
	line-height: 2;
	column-count: 2;
}

.section-skills ul li {
	max-width: 16ch;
}

/* Portfolio Component */

svg path.d {
	stroke: var(--secondary-dark);
}

section.projects {
	margin-bottom: 12rem;
}

.section-title h1 {
	margin-bottom: 3.6rem;
	grid-column: 2 / auto;
	display: inline-block;
	/* margin-left: -2.4rem; */
}

section.projects ul {
	list-style: none;
	margin: 6px 0 18px 0;
}

.project-heading-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/* Footer Component */

footer {
	height: 30rem;
	background-color: var(--primary-dark);
	position: relative;
}

.footer-arrows {
	grid-column: 2/4;
}

footer hr {
	grid-column: 2/4;
	border: 1px solid var(--secondary-light);
	height: 1px;
	margin: 6px 0 24px 0;
}

footer a.secondary-btn {
	grid-column: 2/4;
	margin-bottom: 2.4rem;
}

.footer-right-socials {
	grid-column: 2/4;
	/* justify-self: end; */
}

div.footer-right-socials a {
	margin-right: 0.8rem;
}

div.footer-right-socials a img {
	width: 2.4rem;
}

div.footer-right-socials a:last-child {
	margin-right: 0;
}

.footer-down-arrow {
	transform: scaleY(-1);
}

.to-top-btn {
	position: absolute;
	bottom: 10%;
	right: 10%;
	background: var(--primary-light);
	padding: 1rem;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.to-top-btn:hover {
	border: 2px solid var(--primary-light);
	background-color: var(--primary-dark);
	padding: 8px 6px;
}

div.wrapper,
section.wrapper {
	margin: 0;
}

/* Media Queries */

@media (min-width: 1039px) {
	div.wrapper,
	section.wrapper {
		max-width: 1366px;
		margin-right: auto;
		margin-left: auto;
	}

	.l-mt-48 {
		margin-top: 4.8rem;
	}

	.l-mr-24 {
		margin-right: 2.4rem;
	}

	/* type */

	p.headline-body {
		font-size: 1.8rem;
	}
	h1 {
		font-size: 6.4rem;
		-webkit-text-stroke: 3.2px var(--primary-dark);
	}

	h4,
	h5 {
		font-size: 2.4rem;
	}

	h4 {
		font-size: 3.2rem;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		/* margin: 0 6.4rem; */
		grid-column-gap: 2.4rem;
	}
	.intro-left-container {
		grid-column: 2/8;
		align-self: center;
	}

	.intro-right-container {
		grid-column: 9/11;
		position: relative;
		align-self: center;
		display: flex;
	}

	.intro img {
		/* grid-column: 9/11; */
		/* grid-row: 1/2; */
		align-self: center;
		max-height: 31.5rem;
	}
	.intro-bkg-container {
		height: 45rem;
	}
	li.project-item:nth-child(odd) {
		grid-column: 2/7;
		/* margin-left: -5.2rem; */
	}

	li.project-item:nth-child(even) {
		grid-column: 7/12;
		/* margin-right: 5.2rem; */
	}

	span.down-arrow-center {
		position: relative;
		top: 28px;
		left: -12px;
		padding: 0 0 0 6px;
	}

	.section-skills {
		height: 43.5rem;
		margin-bottom: 24rem;
	}

	.skills-circle-left {
		top: 120px;
		left: 6px;
	}

	.skills-rect-left {
		top: 148px;
		left: -90px;
	}

	.skills-polygon-right {
		top: 124px;
		right: 64px;
	}

	.skills-circle-right {
		bottom: 12px;
		right: -106px;
	}

	.skills-text-heading {
		position: relative;
		height: 100%;
		grid-column: 2/4;
		grid-row: 1/2;
		align-self: center;
		justify-self: auto;
		margin: 0;
		padding: 0;
	}
	.skills-text-list {
		grid-column: 5/11;
		grid-row: 1/2;
		align-self: center;
		margin-bottom: 0;
	}
	.section-title h1 {
		margin-bottom: 12rem;
		grid-column: 2 / 6;
		/* margin-left: -2.4rem; */
	}

	.inner-text {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.rotate-text {
		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	}

	.section-skills ul {
		column-count: 3;
	}

	span.right-arrow {
		position: absolute;
		top: 30px;
		right: -36px;
	}

	footer hr {
		grid-column: 2/12;
		margin: 6px 0 36px 0;
	}

	footer a.secondary-btn:nth-child(odd) {
		grid-column: 2/3;
	}

	footer a.secondary-btn:nth-child(even) {
		grid-column: 3/5;
		max-width: 16rem;
	}

	.footer-arrows {
		grid-column: 2/13;
	}

	.footer-right-socials {
		grid-column: 10/12;
		justify-self: end;
	}
}
