:root {
	--presicav: presicav, sans-serif;
	--nimbus: nimbus-sans-extended, sans-serif;
	--farm-new: farm-new, sans-serif;
	/* colors */
	--primary-dark: #353d8f;
	--primary-light: #575ea6;
	--secondary-dark: #0d8740;
	--secondary-light: #36eb80;
	/* --secondary-light: #A4EBC2; */
	--highlight: #fef38b;
	--neutral-light: #fffef5;
	--neutral-dark: #333333;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/* 1 rem will equal 10px */
	font-size: 62.5%;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: nimbus-sans-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--neutral-light);
	font-size: 1.5rem;
	line-height: 1.75;
	color: #333;
}
p.headline-body {
	font-size: 1.8rem;
	margin-bottom: 0.8rem;
	font-family: var(--presicav);
}
h1 {
	font-family: var(--farm-new);
	font-size: 7.2rem;
	-webkit-text-stroke: 4px var(--primary-dark);
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	text-shadow: 4px 3px 0px #bcc3ff;
	line-height: 1;
	margin-bottom: 0.8rem;
}

h4,
h5 {
	font-family: var(--farm-new);
	font-size: 2.4rem;
	color: var(--primary-dark);
	margin: -6px 0 -6px 0;
	text-transform: uppercase;
}

h4 {
	font-size: 3.2rem;
}

/* Helper Classes */
.mt-6 {
	margin-top: 6px;
}
.mb-6 {
	margin-bottom: 6px;
}
.mt-12 {
	margin-top: 12px;
}
.mb-12 {
	margin-bottom: 12px;
}
.mt-24 {
	margin-top: 24px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mt-36 {
	margin-top: 36px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mt-48 {
	margin-top: 48px;
}
.mb-48 {
	margin-bottom: 48px;
}

.mt-64 {
	margin-top: 64px;
}
.mb-64 {
	margin-bottom: 64px;
}
.mt-120 {
	margin-top: 120px;
}
.mb-120 {
	margin-bottom: 120px;
}

.tt-uc {
	text-transform: uppercase;
}

.primary-dark {
	color: var(--primary-dark);
}
.primary-light {
	color: var(--primary-light);
}
img {
	max-width: 100%;
	border-radius: 6px;
}
.container {
	width: 100vw;
}

div.wrapper,
section.wrapper {
	max-width: 1366px;
	margin: 0 auto;
}

footer div.wrapper,
section.section-skills div.wrapper {
	height: 100%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: 0 6.4rem;
	grid-column-gap: 2.4rem;
}
.max-width {
	max-width: 49rem;
}

a.primary-btn,
a.secondary-btn {
	text-transform: uppercase;
	font-family: var(--presicav);
	max-height: 3rem;
	display: inline-block;
	text-decoration: none;
	color: var(--secondary-dark);
	padding-bottom: 3px;
	border-bottom: 2px solid var(--secondary-dark);
	transition: all 0.2s ease-in-out;
}

a.secondary-btn {
	font-size: 1.4rem;
	color: #fff;
	/* grid-column: 2/3; */
	max-height: 2.5rem;
}

a.primary-btn:hover,
a.secondary-btn:hover {
	padding-bottom: 0px;
	color: var(--secondary-light);
	border-bottom: 2px solid var(--secondary-light);
	transform: scale(1.02);
}

a.primary-btn:nth-child(odd) {
	margin-right: 24px;
}

span.down-arrow {
	position: relative;
	top: 16px;
	padding: 0 0 0 6px;
}

span.down-arrow-center {
	position: relative;
	top: 28px;
	left: -12px;
	padding: 0 0 0 6px;
}

/*  Animations  */
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*  Intro Component */

.intro {
	height: calc(90vh - 7.5rem);
	margin-bottom: -2rem;
}
.intro-left-container {
	grid-column: 2/8;
	align-self: center;
}
img.circle {
	position: absolute;
	left: -36px;
	top: -18px;
	animation: spin 50s linear infinite;
	z-index: 0;
}

img.big-circle {
	position: absolute;
	right: -36px;
	bottom: -36px;
	animation: spin 50s linear infinite;
	z-index: 0;
}

img.rectangle {
	position: relative;
	left: 162px;
	top: 136px;
	transform: rotateZ(270deg);
	z-index: 3;
}

img.intro-top-poly {
	position: relative;
	left: 162px;
	top: -154px;
	z-index: 3;
}

img.intro-btm-poly {
	position: relative;
	left: -34px;
	bottom: -124px;
	z-index: 3;
}

img.intro-up-arrow {
	position: absolute;
	bottom: 0;
	left: -102px;
	z-index: 5;
}

img.intro-up-arrow:nth-child(2) {
	left: -72px;
}

img.intro-up-arrow:nth-child(3) {
	left: -42px;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.intro img {
	grid-column: 9/11;
	grid-row: 1/2;
	align-self: center;
	max-height: 31.5rem;
}
.top-img {
	z-index: 3;
	transition: all 0.5s ease-in-out;
}
.top-img:hover {
	opacity: 0;
}
.mid-img {
	z-index: 2;
	transform: rotate(-10deg);
	transition: transform 0.5s ease-in-out;
}
.btm-img {
	z-index: 1;
	transform: rotate(10deg);
	transition: transform 0.5s ease-in-out;
}

.intro-bkg-container {
	height: 45rem;
	z-index: 0;
	align-self: center;
	grid-column: 10/12;
	grid-row: 1/2;
	margin-left: -2.4rem;
	position: relative;
}
.intro-img-bkg {
	background-color: var(--highlight);
	border-radius: 0.6rem;
	height: 45rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

/* Project Component */

/* section.projects{

} */

.project-img {
	flex: 1;
	width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

li.project-item {
	/* display: flex; */
	/* flex-wrap: wrap; */
}

.project-item-left {
	/* flex-wrap: wrap; */
	/* flex: 1 2 40%; */
}

.project-item-right {
	/* flex-wrap: wrap; */
	/* flex: 3 1 60%; */
}

li.project-item:nth-child(odd) {
	grid-column: 2/7;
	margin-left: -5.2rem;
}

li.project-item:nth-child(even) {
	grid-column: 7/13;
	margin-right: 5.2rem;
}

ul.project-tech-tags {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

li.project-tech-tags-item {
	/* margin-right: 12px;
	font-family: var(--presicav);
	font-size: 1.4rem;
	line-height: 1.4;
  color: var(--neutral-dark); */
	margin-right: 8px;
	font-family: var(--presicav);
	font-size: 1rem;
	line-height: 1.4;
	color: var(--primary-light);
	/* background-color: #000; */
	padding: 4px;
	border: 1px solid var(--primary-light);
	border-radius: 3px;
	text-transform: uppercase;
}

/* li.project-tech-tags-item::before {
	content: '\2022';
	color: var(--secondary-light);
	font-weight: bold;
	display: inline-block;
	width: 0.8rem; */
/* margin-right: 6px; */
/* } */
.project-item p {
	margin: 0 0 12px 0;
	line-height: 1.5;
}

.project-item img {
	margin: 12px 0;
}

/* Skills Component */

.section-skills {
	height: 43.5rem;
	background-color: var(--primary-dark);
	/* width: 100vw; */
	position: relative;
}
.skills-circle-right,
.skills-circle-left {
	position: absolute;
	animation: spin 50s linear infinite;
}

.skills-circle-left {
	top: 120px;
	left: 6px;
}
.skills-rect-left {
	position: absolute;
	top: 148px;
	left: -90px;
}

.skills-polygon-right {
	position: absolute;
	top: 124px;
	right: 64px;
}

.skills-circle-right {
	bottom: 12px;
	right: -106px;
}

div.skills-text-heading {
	position: relative;
	height: 100%;
	grid-column: 2/4;
	grid-row: 1/2;
	align-self: center;
	background-color: var(--neutral-light);
}

.inner-text {
	position: absolute;
	top: 50%;
	left: 50%;
}

.rotate-text {
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

div.skills-text-list {
	grid-column: 5/11;
	grid-row: 1/2;
	align-self: center;
}

.section-skills ul {
	text-transform: uppercase;
	color: var(--neutral-light);
	list-style-type: none;
	line-height: 2;
	column-count: 3;
}

.section-skills ul li {
	max-width: 16ch;
}

span.right-arrow {
	position: absolute;
	top: 30px;
	right: -36px;
}

/* Portfolio Component */

.section-title h1 {
	margin-bottom: 12rem;
	grid-column: 2 / auto;
	margin-left: -2.4rem;
}

svg path.d {
	stroke: var(--secondary-dark);
}

section.projects {
	margin-bottom: 12rem;
}

section.projects ul {
	list-style: none;
	margin-bottom: 12px;
}

/* Footer Component */

footer {
	height: 27.3rem;
	background-color: var(--primary-dark);
}

footer hr {
	grid-column: 2/13;
	border: 1px solid var(--secondary-light);
	height: 1px;
	margin: -24px 0;
}

footer a.secondary-btn:nth-child(odd) {
	grid-column: 2/3;
}

footer a.secondary-btn:nth-child(even) {
	grid-column: 3/5;
	max-width: 16rem;
}

div.footer-arrows {
	grid-column: 2/13;
}

.footer-down-arrow {
	transform: scaleY(-1);
}

/* Media Query */
/* 
@media (max-width: 1024px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 6.4rem;
		grid-column-gap: 1.4rem;
	}
} */
